:root {
  --text: rgb(83, 83, 83);
  --texttrans: rgba(83, 83, 83, 0.6);
  --white: #eeedf3;
  --orange: #d17947;
  --palegreen: #c6d4cf;
  --palegreentran: rgba(198, 212, 207, 0.5);
  --lightgreen: #89bba9;
  --darkgreen: #3e8a7f;
  --background: rgba(238, 237, 243, 1);
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

body {
  width: 390px;
  margin: auto;
  text-align: center;
  background: linear-gradient(
    120deg,
    rgba(238, 237, 243, 1) 0%,
    rgba(198, 212, 210, 1) 40%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.baggrund {
  width: 390px;
  height: 844px;
  display: block;
  z-index: -10;
  position: fixed;
  top: 0px;
}

.backlayer {
  background-color: var(--palegreentran);
  border-radius: 50px 50px 0 0;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  padding-top: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkgreen);
}

input {
  border: none;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  width: 330px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.left-h2 {
  text-align: left;
  padding-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 15px 20px;
  padding-top: 42px;
}

.update-header {
  margin: 0px 20px 15px 20px;
  padding-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". logo luk";
}

.update-logo {
  grid-area: logo;
}

.update-luk {
  grid-area: luk;
  justify-self: end;
  align-self: center;
  margin-right: 10px;
}

.header-logo {
  width: 85px;
}

.noti {
  height: 30px;
}

.tilbage-knap {
  height: 25px;
  width: 30.45px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-image: url(img/tilbage-ikon.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.luk-knap {
  height: 16px;
  width: 16px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-image: url(img/luk-ikon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 390px;
  height: 65px;
  border-radius: 40px 40px 0 0;
  background-color: var(--lightgreen);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-ikon {
  height: 30px;
  margin-top: 5px;
}

.add-ikon {
  height: 90px;
  margin-top: -30px;
}

/* ======================================= LOG IND SIDEN ======================================= */

.opdeler {
  position: relative;
  max-width: 350px;
  text-align: center;
  font-size: 12px;
}

.opdeler:before {
  content: " ";
  display: block;
  height: 1px;
  width: 103px;
  position: absolute;
  top: 50%;
  left: 0;
  background: red;
}

.opdeler:after {
  content: " ";
  display: block;
  height: 1px;
  width: 103px;
  position: absolute;
  top: 50%;
  right: 0;
  background: red;
}

/* ======================================= PROFIL SIDEN ======================================= */

.profilePics {
  height: 110px;
  width: 110px;
  border-radius: 100%;
}

.rediger-ikon {
  height: 30px;
  margin: -20px auto 20px auto;
}

.logout-ikon {
  height: 20px;
  vertical-align: middle;
}

.file-upload {
  background-color: transparent;
  width: 350px;
}

textarea {
  border: none;
  background-color: var(--white);
  width: 330px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* ======================================= UPDATE SIDEN ======================================= */

.input-beskrivelse {
  margin-bottom: 5px;
}

.grid-input {
  width: 350px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  grid-template-areas: "zipcode city city";
}

.grid-input p {
  padding: 0;
}

.zipcode {
  grid-area: zipcode;
}

.zipcode input {
  width: 94px;
}

.city {
  grid-area: city;
}

.city input {
  width: 211px;
}

.btn {
  width: 350px;
  margin: 30px auto;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.nedtonet {
  font-size: 12px;
}

.slet-btn {
  background-color: transparent;
  width: 100px;
  color: var(--darkgreen);
  margin-bottom: 30px;
}

/* ======================================= CREATE TASK SIDEN ======================================= */

.amount {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.amount span {
  font-size: 28px;
  cursor: pointer;
}

.quantity {
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: none;
  display: inline-flex;
  height: 40px;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--text);
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  font-size: 16px;
}
