:root {
  --text: rgb(83, 83, 83);
  --texttrans: rgba(83, 83, 83, 0.6);
  --white: #eeedf3;
  --orange: #d17947;
  --palegreen: #c6d4cf;
  --palegreentran: rgba(198, 212, 207, 0.5);
  --lightgreen: #89bba9;
  --darkgreen: #3e8a7f;
  --background: rgba(238, 237, 243, 1);
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

body {
  width: 390px;
  margin: auto;
  text-align: center;
  background: linear-gradient(
    120deg,
    rgba(238, 237, 243, 1) 0%,
    rgba(198, 212, 210, 1) 40%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.baggrund {
  width: 390px;
  height: 844px;
  display: block;
  z-index: -10;
  position: fixed;
  top: 0px;
}

.backlayer {
  background-color: var(--palegreentran);
  border-radius: 50px 50px 0 0;
  min-height: 470px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  padding-top: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkgreen);
}

.left-h2 {
  text-align: left;
  padding-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 15px 20px;
  padding-top: 42px;
}

.update-header {
  margin: 0px 20px 15px 20px;
  padding-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". logo luk";
}

.update-logo {
  grid-area: logo;
}

.update-luk {
  grid-area: luk;
  justify-self: end;
  align-self: center;
  margin-right: 10px;
}

.header-logo {
  width: 85px;
}

.noti {
  height: 30px;
  opacity: 0;
}

.tilbage-knap {
  height: 25px;
  width: 30.45px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-image: url(img/tilbage-ikon.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.luk-knap {
  height: 16px;
  width: 16px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background-image: url(img/luk-ikon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 390px;
  height: 65px;
  border-radius: 40px 40px 0 0;
  background-color: var(--lightgreen);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-ikon {
  height: 30px;
  margin-top: 5px;
}

.add-ikon {
  height: 90px;
  margin-top: -30px;
}

.fejlmeddelse {
  font-size: 14px;
  color: rgb(206, 42, 42);
}

.brugt-email-link {
  font-size: 14px;
}

/* ======================================= LOG IND SIDEN ======================================= */

.stort-logo {
  width: 123px;
  margin-top: 50px;
}

.h1-left {
  text-align: left;
  padding-left: 20px;
  margin-top: 60px;
}

.quikLogin {
  padding-top: 30px;
}

.socialLogin-btn {
  width: 350px;
  height: 40px;
  border: 1px solid var(--lightgreen);
  border-radius: 10px;
  margin: 10px 20px;
  display: flex;
}

.socialLogin-btn img {
  height: 30px;
  align-self: center;
  padding: 0 30px 0 30px;
  position: absolute;
}

.socialLogin-btn figcaption {
  align-self: center;
  margin: auto;
  color: var(--text);
}

.opdeler {
  position: relative;
  margin-top: 30px;
  max-width: 350px;
  text-align: center;
  font-size: 12px;
  color: var(--texttrans);
}

.opdeler:before {
  content: " ";
  display: block;
  height: 1px;
  width: 103px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--texttrans);
}

.opdeler:after {
  content: " ";
  display: block;
  height: 1px;
  width: 103px;
  margin-right: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  background: var(--texttrans);
}

.text-input {
  border: none;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  width: 330px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.kode-box {
  width: 350px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  background-color: var(--white);
  height: 20px;
  width: 20px;
  border: none;
}

.center {
  margin: auto;
  text-align: center;
}

.login-container {
  padding-top: 20px;
  padding-bottom: 47px;
}

/* ======================================= INDEX ======================================= */

.cta-section {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.index-cta {
  height: 123px;
  width: 123px;
  border-radius: 20px;
  margin: 30px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.index-cta figcaption {
  margin-top: 20px;
  font-size: 16px;
  color: var(--lightgreen);
  font-weight: 500;
}

.index-cta img {
  height: 60px;
  position: relative;
  top: 13px;
  margin: auto;
}

.cta-green {
  background-color: var(--lightgreen);
  border: 2px solid var(--lightgreen);
}

.cta-green figcaption {
  color: var(--white);
}

.cta-white {
  background-color: var(--white);
  border: 2px solid var(--lightgreen);
}

.index-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.seAllePil {
  font-size: 20px;
}

/*--------- task cards index ----------*/

.index-scrolls {
  display: flex;
  padding: 0 20px 0 15px;
  flex-direction: row;
  overflow-x: auto;
}

.indexCardDiv {
  display: flex;
  gap: 5px;
}

.index-scrolls::-webkit-scrollbar {
  width: 0;
}

.index-task-cards {
  width: 300px;
  margin: 0;
}

/* ======================================= PROFIL SIDEN ======================================= */

.profilePics {
  height: 110px;
  width: 110px;
  border-radius: 100%;
}

.rediger-ikon {
  height: 30px;
  margin: -20px auto 20px auto;
}

.logout {
  padding-bottom: 110px;
}

.logout-ikon {
  height: 20px;
  vertical-align: middle;
}

.file-upload {
  background-color: transparent;
  width: 350px;
}

.profiltekst {
  width: 350px;
  min-height: 100px;
  padding: 0 20px;
}

/* ======================================= UPDATE SIDEN ======================================= */

.input-beskrivelse {
  margin-bottom: 5px;
}

.grid-input {
  width: 350px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  grid-template-areas: "zipcode city city";
}

.grid-input p {
  padding: 0;
}

.zipcode {
  grid-area: zipcode;
}

.zipcode input {
  width: 94px;
}

.city {
  grid-area: city;
}

.city input {
  width: 211px;
}

.update-input {
  border: none;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  width: 330px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.btn {
  -webkit-appearance: none;
  width: 350px;
  margin: 30px auto;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.nedtonet {
  font-size: 12px;
}

.slet-btn {
  background-color: transparent;
  width: 100px;
  color: var(--darkgreen);
  margin-bottom: 30px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 330px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.rateTask {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

textarea {
  border: none;
  background-color: var(--white);
  width: 330px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/*----------------- popup -------------------*/

.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup-content {
  position: fixed;
  bottom: 0px;
  height: 240px;
  width: 390px;
  border-radius: 40px 40px 0 0;
  background: var(--white);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  display: none;
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.close-btn img {
  height: 15px;
  vertical-align: middle;
}

.popup-content h2 {
  width: 240px;
  margin: auto;
  margin-top: 70px;
}

.popup-btns {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.annuller-btn {
  width: 169px;
  height: 40px;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--darkgreen);
}

.delete-btn {
  width: 169px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: var(--orange);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.popup.active .popup-overlay {
  display: block;
}

.popup.active .popup-content {
  display: block;
}

.popupAfslut {
  height: 343px;
}

.popupAfslut p {
  text-align: center;
}

.popupAfslut .popup-btns {
  margin: 0 auto;
}

/* ======================================= CREATE TASK SIDEN ======================================= */

.header-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
}

.header-info .left-h2 {
  padding: 30px 0 0 20px;
}

/*----------------- mængde knappen -------------------*/

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: none;
  display: inline-flex;
  height: 40px;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--text);
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: var(--white);
  border-radius: 10px;
}

.emballage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.emballage-kasse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emballage-kasse img {
  height: 40px;
}

.kasseikon {
  width: 35px;
  padding: 0 5px;
}

/*----------------- afhentning -------------------*/

.afhentnings-checkbox {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px;
}

/*----------------- udbytte -------------------*/

#udbytte {
  width: 350px;
}

.udbytte-container {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.udbytte-kasse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.udbytte-kasse p {
  padding: 0;
}

.udbytte-kasse output {
  font-weight: 800;
}

.udbytte-kasse-afhenter {
  flex-direction: row-reverse;
}

/*----------------- tidsrum -------------------*/

.tidsrum {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 10px;
}

.timeLabel {
  text-align: left;
}

input[type="datetime-local"] {
  height: 40px;
  width: 153px;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  padding: 0 10px;
}

/*=================================== OPGAVER =======================================*/

.tasks-btn-container {
  width: 350px;
  height: 35px;
  margin: auto;
  background: #c6d4cf;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

.task-btn {
  width: 50%;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  align-self: center;
}

.active-btn {
  color: var(--white);
  padding: 5px 0;
  background-color: var(--lightgreen);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.yourTasks h2 {
  text-align: left;
}

.dummytekst {
  color: var(--texttrans);
}

/*--------- task cards ----------*/

.cardTasks {
  color: var(--text);
}

.task-cards {
  width: 350px;
  margin: auto;
}

.taskTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  margin: auto;
  padding: 0 10px 20px 10px;
  border-radius: 20px 20px 0 0;
}

.topdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: -10px;
}

h4 {
  font-weight: 300;
  font-size: 16px;
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

.taskPics {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.udbytte-card {
  font-weight: 800;
  font-size: 16px;
  margin: -10px 10px 0 0;
  padding: 0;
  color: var(--darkgreen);
}

.taskBottom {
  background-color: var(--lightgreen);
  border-radius: 20px;
  margin-top: -30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dato-card {
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.dato {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.fed {
  font-weight: 600;
}

.dates {
  margin-top: -25px;
}

.quantity-box-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  gap: 5px;
}

.amount-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-card img {
  width: 20px;
  margin: auto;
}

.taskicons-kasse {
  width: 18px !important;
}

.amount-card p {
  padding: 0 10px 0 0;
  margin: 0 auto;
  font-size: 14px;
}

/*--------- Sortering popup ----------*/

.allTasks {
  margin-top: 30px;
}

.allTask-p {
  margin-bottom: 10px;
  color: var(--darkgreen);
}

.sorting {
  width: 130px;
  height: 38px;
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  color: var(--darkgreen);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 17px;
  left: 115px;
  padding-right: 25px;
}

.pilned {
  position: absolute;
  right: 10px;
  top: 3px;
}

.sorterings-kasse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorterings-kasse {
  height: 40px;
  border-bottom: 1px solid var(--lightgreen);
}

.sortering {
  width: 100%;
}

.sorting-text {
  color: var(--lightgreen);
  vertical-align: middle;
}

/*=================================== OPGAVER DETALJE SIDEN =======================================*/

.backlayerSolid {
  background-color: #c6d4cf;
  padding-bottom: 65px;
}

.detalje-billede {
  margin: 15px auto -22px auto;
  position: relative;
  z-index: -1;
}

.detail-card {
  padding: 30px 20px 20px 20px;
}

.detail-card h2 {
  margin: 0;
}

.detail-card p {
  margin: 0;
  padding-left: 0;
}

.detail-procent {
  color: var(--darkgreen);
  font-weight: 800;
}

.detail-subheader {
  padding: 0;
  margin: 0;
  text-align: center;
}

.dato-detail {
  font-weight: 600;
  padding-top: 30px;
}

.date-detail {
  margin-top: -25px;
}

.afhentningsdetaljer {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: auto;
}

.quantity-box-detail {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 15px;
}

.amount-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-detail img {
  width: 45px;
}

.detail-icons-kasse {
  width: 40px !important;
}

.amount-detail p {
  padding: 0 10px;
}

.creator-info {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.detail-card i {
  width: 350px;
}

.opgave-afsluttet {
  text-align: center;
  color: var(--texttrans);
}

/*--------- annuller og frigiv opgave ----------*/
.release-btn {
  margin-top: -5px;
}

.release-h2 {
  margin-top: 55px !important;
}

/*--------- popup book ----------*/

.popup-content-book {
  height: 300px;
}

.book-btn {
  margin-top: -5px;
}

.popup-text {
  padding: 0;
  text-align: center;
}

/*=================================== OPGAVE FÆRDIG =======================================*/

.taskDoneSection {
  margin: 50% auto;
}

.taskDoneSection h1 {
  padding-top: 0px;
}

/* ======================================= RATING ======================================= */

/* input[type="radio"] {
  -webkit-appearance: none;
} */

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: var(--lightgreen);
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: var(--darkgreen);
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px var(--darkgreen);
}

/* ======================================= REVIEW ======================================= */

.review-p {
  padding: 0;
  font-size: 12px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: inline-block;
  width: 280px;
  min-height: 73px;
  overflow: hidden;
  margin: 0;
}

.reviewCardDiv {
  display: flex;
  gap: 5px;
  margin: 0 5px;
}

.rediger-ikon-rating {
  height: 30px;
  float: right;
  top: 10px;
  right: 10px;
  padding-left: 80px;
}

.reviewBox {
  margin: auto;
  width: 350px;
  border-top: 2px solid var(--lightgreen);
  border-bottom: 2px solid var(--lightgreen);
  border-radius: 10px;
  margin-bottom: 10px;
}

.reviewTop {
  display: flex;
  width: 330px;
  padding: 10px;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
  margin-top: -2px;
}

.reviewInfo h4 {
  margin: 0;
  font-weight: 600;
}

.reviewStjerner {
  display: flex;
  gap: 3px;
}

.stjernePics {
  height: 17px;
}

.reviewDetailText p {
  padding: 0 10px;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.rediger-ikon-ratingDetail {
  padding-left: 140px;
}

.delete-review-btn {
  height: 20px;
  width: 20px;
  border: none;
  margin-left: 140px;
  background: transparent;
  background-image: url(img/skraldespand.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.delete-review-btn-ratingCards {
  margin-left: 80px;
}
